<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- API Keys -->
    <add key="PublicKey" value="" />
    <add key="PrivateKey" value="" />
    <!-- Endpoints -->
    <add key="MarvelApiEndpoint" value="http://gateway.marvel.com" />
    <add key="MarvelApiVersion" value="1" />
  </appSettings>
</configuration>